.portfolio__container {
  padding: var(--spacing-12) 0;
  background-color: var(--color-bg-main);
}

.portfolio__title,
.portfolio__subtitle {
  text-align: center;
  margin-bottom: var(--spacing-4);
}

.portfolio__subtitle {
  margin-bottom: var(--spacing-8);
}

.swiper.portfolio__slider {
  height: 500px;
}

.swiper-slide {
  width: auto;
}

.swiper-slide img {
  display: block;
  width: auto;
  height: 100%;
}

.portfolio__container .swiper-pagination {
  position: static;
  margin-top: var(--spacing-8);
  bottom: auto;
  left: auto;
  right: auto;
  z-index: auto;
  --swiper-pagination-color: var(--color-primary-main);
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--color-text-main);
  background-color: rgba(250, 250, 250, 0.5);
  border-radius: var(--radius-full);
  padding: var(--spacing-2);
}

@media (max-width: 767px) {
  .swiper.portfolio__slider {
    height: auto;
  }

  .swiper-slide img {
    width: 100%;
    height: auto;
  }
}
